* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header styles */
.header {
  height: 50em;
  width: 100%;
  background-image: url("../images/banner/banner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-section {
  width: 525px;
  margin-right: 150px;
  text-align: right;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
}

.banner-sub {
  color: #444343;
  font-size: 16px;
  line-height: 25px;
  padding-top: 25px;
  padding-bottom: 30px;
}

.primary {
  background-color: #f15b22;
  border: 0;
  border-radius: 5px;
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

/* failures section */
.failures {
  margin: 130px 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.failure-details {
  width: 416px;
  text-align: left;
}
.section-title {
  font-weight: 800;
  font-size: 50px;
}

.lists p {
  padding: 5px 0;
  font-size: 16px;
}

.lists img {
  padding-right: 10px;
}

/* my plans section */
.plans-section {
  text-align: center;
}

.plans {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}

.plan-title {
  font-weight: 700;
  font-size: 30px;
  padding: 24px 0 16px;
}

.plan > p {
  color: #737272;
  font-weight: 500;
  font-size: 25px;
}
